/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #F3F4FD;
  --vt-c-white-soft: #FDFAFF;
  --vt-c-white-mute: #F6EEFB;

  --vt-c-black: #151515;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #333333;


  --vt-c-divider-light-1: #EBE8EF;
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12); 
  --vt-c-divider-dark-1: #2F2F2F;
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: #2F3457;
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: #FFFFFF;
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --primary-color: #357cff;
  --primary-color-hover: #2a4ea9;

  --header-height: 70px;

  /* --primary-color: #004461;
  --secondary-color: #45B5E6;
  --tertiary-color: #009CE0;
  --quaternary-color: #1D4D61;
  --quinary-color: #0079AD; */

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-1);
  /* --color-border-hover: var(--vt-c-divider-light-1); */

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }

  .oldscores-table {
    background-color: #222222;
  }

  .table {
    color: rgba(235, 235, 235, 0.64);
  }

  .modal-content {
    border: none;
  }

  .modal-header {
    background-color: var(--vt-c-black-mute);
  }

  .modal-body {
    background-color: var(--vt-c-black-mute);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(228, 218, 218); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888484; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(87, 87, 87); 
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border: none;
  min-width: 200px;
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  margin: 5px 10px 5px 10px;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover) !important;
}

.navbar {
  background-color: var(--color-background-soft) !important;
  border-bottom: 2px solid var(--color-border);
}

.nav-link {
  color: var(--primary-color);
  font-weight: 500;
}

.nav-link:focus, .nav-link:hover {
  color: var(--primary-color-hover);
}

.card {
  background-color: var(--color-background-soft);
  border: 2px solid var(--color-border);
}

.form-control {
  background-color: var(--color-background-soft);
  border: 2px solid var(--color-border);
  min-width: 300px;
  height: 50px;
  border-radius: 25px;
  color: var(--color-text);
}

.form-control:focus {
  background-color: var(--color-background-mute);
  border: 2px solid var(--color-border) !important;
  color: var(--color-text);
}

.form-control:active {
  background-color: var(--color-background-mute);
  border: 2px solid var(--color-border)  !important;
  color: var(--color-text);
}

.page {
  height: calc(100vh - 50px);
}